<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Редактировать профиль</h1>

  <div class="column-1-2">
    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :email, "Логин (email)", class: "form-label" %>
        <%= f.text_field :email, class: "form-text-field" %>
      </div>

      <div class="form-field">
        <%= f.label :username, "Никнейм", class: "form-label" %>
        <%= f.text_field :username, class: "form-text-field" %>
      </div>

      <div class="form-field">
        <%= f.label :name, "Имя", class: "form-label" %>
        <%= f.text_field :name, class: "form-text-field" %>
      </div>

      <div class="form-field">
        <%= f.label :avatar_url, "URl вашей аватарки", class: "form-label" %>
        <%= f.text_field :avatar_url, class: "form-text-field" %>
      </div>

      <div class="form-field">
        <%= f.label :background_color, "Цвет фона вашего профиля: " %>
        <%= f.color_field :background_color %>
      </div>

      <div class="buffer-top-large buffer-bottom">
        Если не хотите менять пароль - оставьте эти поля пустыми!
      </div>

      <div class="form-field">
        <%= f.label :password, "Пароль", class: "form-label" %>
        <%= f.password_field :password, class: "form-text-field" %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, "Повторите пароль", class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-text-field" %>
      </div>

      <div class="form-action buffer-top">
        <%= f.submit "Сохранить", class: "button button-small button-dark" %>
      </div>
    <% end %>
  </div>
</div>
